$space-6: .375rem;      //6px
$space-12: .75rem;      //12px
$space-24: 1.5rem;      //24px
$space-36: 2.25rem;     //36px
$space-48: 3rem;        //48px
$space-96: 6rem;        //96px

$light-color: #FCFCFC;
$primary-color: #24AA51;
$dark-color: #101010;
$gray-color: #F2F2F2;